<html>
    <head>
        <link href="addMoviesAdminPage.css" rel="stylesheet">
    </head>
    <body>
        <div class=navigation>
            <div id="brand">
                <a href = "brand_click"><img src="logo.png" height=60px; width=120px;/></a>
                
                <div class="dropdown">
                    <div class="movies">Movies</div>
                    <div class="moviesmenu">
                        <a href="nowShowingAdminPage">Now Showing</a>
                        <a href="upcomingMoviesAdminPage">Upcoming Movies</a>
                    </div>
                </div>
                
                <div class="cinemas"><a href="cinemasAdminPage" style="text-decoration: none; color: white">Cinemas</a></div>
                
                <div class="dropdown">
                    <div class="screening">Admin</div>
                    <div class="screeningmenu">
                        <a href="viewMoviesAdminPage">View Movies</a>
                        <a href="addMoviesAdminPage">Add Movie</a>
                    </div>
                </div>              
            </div>
            <div class="dropdown">
                <span class="moderator">Welcome, Admin! ▼</span>
                <div class="logout">
                    <a href="logout">Logout</a>
                </div>
            </div>
        </div>
        
        <div class="main">
            <div class="transbox">
                <form action="editmovie" method="post" enctype="multipart/form-data">
                    <div style="font-size: 28px; text-align: left; padding: 10px;  padding-top: 30px; color:white">Edit Movie</div>
                    <div style="font-size: 20px; text-align: left; padding: 10px; color:white">
                        Movie Title: <input type="text" name="movietitle" value="{{movie.title}}" style="height:24px; width:300px;">
                    </div>
                    <div style="font-size: 20px; text-align: left; padding: 10px; color:white">
                        Rated: <select name="rated" style="height:24px; width:90px; padding-right: 5px;">
                                    <option>G</option>
                                    <option>PG</option>
                                    <option>R-13</option>
                                    <option>R-16</option>
                                </select>
                        Duration: <input type="text" name="duration" value="{{movie.duration}}" style="height:24px; width:150px">
                    </div>
                    <div style="font-size: 20px; text-align: left; padding: 10px; color:white">
                        Genre: <input type="text" name="genre" value="{{movie.genre}}" style="height:24px; width:350px;">
                    </div>
                    <div style="font-size: 20px; text-align: left; padding: 10px; color:white">
                        Summary:<br> <textarea rows="4" cols="57" name="summary" style="resize:none;">{{movie.description}}</textarea>
                    </div>
                    <div style="font-size: 20px; text-align: left; padding: 10px; color:white">
                        Critic's Rating: <input type="number" name="critrate" value="{{movie.mpaa_rating}}" style="height:24px; width:80px" min="0" max="10">
                        User's Rating: <input type="number" name="userrate" value="{{movie.star_rating}}" style="height:24px; width:80px" min="0" max="10">
                    </div>
                    <div style="font-size: 20px; text-align: left; padding: 10px; color:white">
                        Main Casts: <input type="text" name="cast" value="{{movie.casts}}" style="height:24px; width:320px;"><br>
                        Director: <input type="text" name="director" value="{{movie.director}}" style="height:24px; width:350px;">
                    </div>                    
                    <input type="hidden" name="id" id="editid" value="{{movie._id}}"> 
                    <input type="submit" value="Submit" style="margin-left: 38%; width: 100px; height: 30px; margin-top: 5px;">
                </form>
            </div>
        </div>
    </body>
</html>